*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



.navbar{
    position: fixed;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 20px;
   
}



.links{
    
    display: flex;
    list-style: none;
    gap: 15px;
    color: white;

}



// .nav_menu{
//     display: flex;
//     display: none;
// }



// responisve 

// @media  (max-width:768px){
//     .nav_menu{
//         display: flex;
//         .links{
//             display: none;
//         }
//     }
// }