* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container{
display: flex;

  }
  
  .dashboard {
    display: flex;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    display: inline block;
    
  }
  
  .sidebar {
    /* width: 20%; */
    background-color: #253f58;
    color: white;
    padding: 20px;
  }
  
  .sidebar .user-info {
    text-align: center;
    margin-bottom: 30px;
  }
  .profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  
  .user-role {
    margin-top: 10px;
  }
  
  .menu ul {
    list-style: none;
  }
  
  .menu ul li {
    margin: 15px 0;
  }
  
  .menu ul li a {
    color: white;
    text-decoration: none;
  }
  
  .menu ul li a.active {
    font-weight: bold;
  }
  
  .submenu {
    margin-left: 15px;
  }
  
  .content {
    flex: 1;
    padding: 20px;
    background-color:white;
    /* width: 80%; */
    /* margin-left: 20%; */

  }
  
  .content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .btn-add-staff {
    background-color: green;
    color:white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .staff-list table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .staff-list th,
  .staff-list td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .btn-edit {
    background-color: rgb(49, 49, 186);
    color:white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    margin-right: 5px;
  }
  
  .btn-delete {
    background-color: red;
    color:white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
  }
